/* Import google fonts to be use in the css */
@import url('https://fonts.googleapis.com/css?family=Coiny|ZCOOL+KuaiLe');
@import url('Test.css');

.clearfix {
    overflow: auto;
  }

body{
    margin:0px;
    padding: 0px;
    background-image:  url(../images/Background/concrete-texture.png);
    background-size: initial;
    background-repeat: repeat; 
    /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
    color:#777777;
    /*background-position: center;   
    background-color:#666666; */
}
header{
 /*    position: relative; */
    border-bottom:#cccccc solid 2px;
    margin-bottom: 40px;
    width:100%;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    /* top:0px;
    left:0px; */
}
.main_header{
    width:1000px;
    margin:0 auto;
    background-color:#ffffff;   
    position: relative;
    /*top:0; */
    overflow: auto;
}

h1, h2, h3, ul{ 
    /* Test ggolge fonts */
    /* font-family: 'Coiny', cursive; */
    font-family: 'Georgia', Times, Times New Roman, serif;    
}


p{
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
    font-size:18px;
    /* Test ggolge fonts
    font-family: 'ZCOOL KuaiLe', cursive; */
    
}

.main_content{
    width:960px;
    border: #dddddd solid 1px;
    padding: 20px;
    margin:0 auto;
    background-color:#ffffff;
    margin-bottom:100px;
    /* font-family: 'Georgia', Times, Times New Roman, serif; */
}

.main_menu{
    list-style: none;
    margin:0;
    padding-top: 25px;
    
}

ul{
    float:right;
}


li{
    float: left;
    padding: 0px 10px 0px 10px;
    border-right: #777777;
    border-right-style: solid;
    border-right-width: 1;
         
}

 li:last-child
{
    border-right: none;
}

 .main_menu a{
    text-decoration: none;
    color:#777777;
    /* font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
}

/*.main_menu a:visited{
    color:red;
} */

.main_header_name{
    padding: 20px;
    background-color: #4aaaa5;
    color:#ffffff;
    float:left;
    margin:0px auto;
}

.header_content{
    color:#4aaaa5;
    border-bottom:#cccccc solid 2px;
    padding-bottom:20px;
}

#about_image{
   
    float:left;
    margin-right: 15px;
}

.div_gif{
    text-align: center;
    margin-top: 50px;
    }

#gif_dev{
    text-align: center;
    width: 300px;
    /* float: right; */
}



footer{
    position: fixed;
    bottom: 0;
    left:0;
    text-align: center;
    width:100%;
    background-color:#666666;
    padding:50px 30px 5px 30px;
    color:#ffffff;
    border-top: 8px solid #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 12px;
}

/* Contact page */
.text_box{    
    width: 100%;
    margin: 5px 0  20px 0;
}

.bt_submit{
    padding: 10px 20px;
    background-color:#4aaaa5;
    color:#ffffff;
    margin-top:200px;
    text-decoration: none;
}

.bt_submit:hover{
    background-color:#219690;
    /* background-color:#3E0CE8; */
}

.portfolio_image
{
    width:200px;
    height:250px;
    margin:20px;    
}

.link_image{
    text-decoration: none;
    text-align: center;
    color:#ffffff;
    padding: 10px;
    background-color: #4aaaa5;
    width:180px;
    
    position:absolute;
    bottom:30px;
    left:21px;
    /* overflow: auto; */
}