body{
    margin:0px;
    padding: 0px;
}
header{
    text-align: center;
    padding: 20px;
}

#aboutImage{
    width: 280px;
    height: 350px;
    float:left;
    margin-right: 15px;
}

.divText{
    
}

.main_content{
    width:960px;
    border: #aaa solid;
    padding: 20px;
    margin:0 auto;
}

.page_content{

}

footer{
    position: fixed;
    bottom: 0;
    left:0;
    text-align: center;
    width:100%;
    background-color:#666666;
    padding:10px;
}
